
WorkshopAstroceltProject/fmod_editor.log
WorkshopAstroceltProject/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
WorkshopAstroceltProject/ProjectSettings/Packages/com.unity.probuilder/Settings.json
WorkshopAstroceltProject/ProjectSettings/Packages/com.unity.probuilder/Settings.json
WorkshopAstroceltProject/UserSettings/EditorUserSettings.asset
